* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(135deg, black, pink,rgb(138, 185, 240),black);
  background-size: 400% 400%;
  animation: gradientMove 10s ease infinite;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  border-bottom: 4px solid transparent;
  border-image: linear-gradient(to right, pink,black,rgb(243, 243, 1),rgb(142, 142, 219));
  border-image-slice: 1;
}

header .logo {
  font-size: 30px;
  font-weight: bold;
}

nav a {
  margin-left:30px;
  text-decoration: none;
  color: white;
  font-weight:500;
  font-size:30px;
  position: relative;
}

nav a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background: #ffcc00;
  left: 0;
  bottom: -5px;
  transition: width 0.3s;
}

nav a:hover::after {
  width: 100%;
}
.project1{
    background-color: black;
    margin: 30px;
    padding: 20px;
    display: grid;
    align-items: center;
    justify-content: center;

}
.project1 h1{
   color: white;
    margin: 30px;
}

.project1 img{
  width:400px;
  height: 550px;
  margin:20px auto;
  display: block;
  border-radius: 10px;

}
.project1 p {
  font-size:20px;
  margin-bottom:10px;
  line-height:2.0;
  color:white;
}
.project1 h2{
    color: white;
    margin:15px;

}
table {
  border-collapse: collapse;
  width: 100%;
}
th, tr {
  border: 1px solid white;
  padding:20px;
  color:white;
}
.title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.title-bar h1 {
    font-size: 32px;
}
.title-bar .icon {
    font-size: 20px;
    text-decoration: none;  
    display: flex;
    align-items: center;   
    gap: 8px;               
    transition: color 0.3s;
}

.title-bar .icon:hover {
    color: #ffcc00; 
}
.icon{
  background-color:black;
  color: white;
  font-size: 20px;
  margin:50px;
}
.icon i {
  font-size: 22px;
  background: none;
  color: white;
}

